{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        {{#tag}}
          <div class="site-main-meta">
            <h1 class="site-main-title">{{name}}</h1>
            {{#if description}}
                <h2 class="site-main-description">{{description}}</h2>
            {{/if}}
          </div>
        {{/tag}}

        <div class="post-feed">
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</main>
